.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  justify-items: center;
  padding: 10px;
}

.image-grid .card {
  width: 100%;
  background-color: transparent !important;
}
.image-grid .card:hover {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
}
.image-grid .card img {
  object-fit: cover;
  height: 150px;
  width: 100%;
  transition: transform 0.3s ease;
}

.image-grid .card img:hover {
  transform: scale(1.05);
}

.modal-dialog {
  max-width: 100%;
  margin: 0;
}

.main-content .card-body {
  background-color: transparent !important;
  text-align: start;
}

.main-content .card-body .card-title,
.main-content .card-body .card-text {
  color: 'black'; 
  text-align:center;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
}

@media (max-width: 576px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .image-grid .card {
    width: 100px;
  }
}

.App {
  margin-top: 50px;
  transition: margin-left 0.3s ease;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination input {
  width: 50px;
}
.pagination .col-3 {
  display: flex;
  justify-content: center;
}
.btn-custom svg {
  margin: 0;
}
.account-menu {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.side-menu {
  position: fixed;
  top: 120px;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.425);
  backdrop-filter: blur(1000px);
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
  z-index: 999;
}

.side-menu.open {
  transform: translateX(0);
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main-content.shrinked {
  margin-left: 250px; /* Độ rộng của menu thanh trượt */
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-left-color: #714B67;
  animation: spin 1s ease infinite;
}
.spinner2 {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: #714B67;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
